body {
    font-family: sans-serif;
    background-color: #CD5C5C;
    margin-top: 0px;
}

.center {
    text-align: center;
    height: 228px;
    width: 303px;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 10px;
}
.container {
max-width: 800px;
margin: auto;
color: Black;
font-family: Ariel;
padding-top: 0px;
padding-left: 20px;
padding-right: 20px;
            }